<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>421682571851-09vf2hi9o9qb0igh2ln3f12jf8iq6el5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.421682571851-09vf2hi9o9qb0igh2ln3f12jf8iq6el5</string>
	<key>API_KEY</key>
	<string>AIzaSyAgQp5Q6rISnty3DgzFclfeCJs8ZkSiq_8</string>
	<key>GCM_SENDER_ID</key>
	<string>421682571851</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.blkstne.market.simulator</string>
	<key>PROJECT_ID</key>
	<string>stock-market-simulator-b467a</string>
	<key>STORAGE_BUCKET</key>
	<string>stock-market-simulator-b467a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:421682571851:ios:5e4dae72219f8ad2687bce</string>
</dict>
</plist>